<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/4.6/components/navbar/
-->

<nav class="navbar navbar-expand-sm navbar-light" style="margin: 0;border-bottom:solid;border-color: rgba(0, 0, 0, 0.142);">
	<a class="navbar-brand" href="/">
		<img style="width:65px;height:auto;"
		src="/public/img/logo-transp.png" >
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarToggler">
		<div class="navbar-nav d-sm-flex w-100">
			<a class="nav-link" href="/locais">Locais</a>
			<a class="nav-link" href="/eventos">Eventos</a>
			<a class ="nav-link" href = "/experiencias">Experiências</a>
			<a class ="nav-link" href = "/confirmacao">Criar Avaliação</a>
			<a class ="nav-link" href = "/facaparte">Faça Parte!</a>
			<div style="flex: 1 1 auto;"></div>
			<a class="nav-link" href="/registrar">Registrar-se</a>
			<a class="nav-link" href="/sobre">Sobre</a>
		</div>
	</div>
</nav>
