img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1366px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}

.navbar {
	padding: 1.5rem 1rem;
	background-color: #ffeeaa;
}

.locais {
	padding-top: 15px;
	padding-bottom: 15px;
}

.fundolocais {
	background-color: rgb(145, 188, 145);
	padding: 15px;
	border-radius: 10px;
}

.fundodolocal {
	background-color : rgb(174, 223, 101);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 125px;
	padding-bottom: 125px;
}

.colunaexp {
	padding-top: 15px;
	padding-bottom: 15px;
}

.fundocolunaexp {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	border-radius: 10px;
}

.fundo-secao-4 {
	background-color: rgb(177, 216, 117);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 125px;
	padding-bottom: 125px;
}

