
<h1 class="mt-5 pt-4 titulodesc">
    Você já está cadastrado no Mundo Colarinho?
</h1>
<p class="dd">
    Ao cadastrar-se no Mundo Colarinho você consegue criar avaliações de acessibilidade no local em que escolher!<br>
    Faça Parte agora mesmo! É simples e rápido!
</p>

<div class="container-fluid">
<div class="row">
    <div class="col-md-6" style="text-align: right;">
        <div>
            <a href="/novo"><button class="btn btn-primary btn-lg">Já estou cadastrado!</button></a>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <a href="/registrar"><button class="btn btn-primary btn-lg">Registre-se Agora</button></a>
        </div>
    </div>
</div>
</div>


<%- contentFor("espaco-head") %>
<style>

    .dd {
        font-size: 20px;
        margin-bottom: 90px;
        text-align: center;
        color: grey;
    }

</style>