<div class="container-fluid fundo-secao-4">

	<h1>
		Experiências
	</h1>

	<p>
		Lista de experiências
	</p>
</div>

<div class="container-fluid fundo-secao-4">
	<div class="row">
		<div class="col-md-3 colunaexp">
			<div class="fundocolunaexp">
				<p>
					<img src="/public/img/modalidades-de-salto-no-paraquedismo.jpg">
				</p>
				<p>
					Paraquedismo
				</p>
				<p>
					Boituva - SP
				</p>
			</div>
		</div>
		<div class="col-md-3 colunaexp">
			<div class="fundocolunaexp">
				<p>
					<img src="/public/img/balao.jpg">
				</p>
				<p>
					Voo de Balão
				</p>
				<p>
					Santo André - SP
				</p>
			</div>
		</div>
		<div class="col-md-3 colunaexp">
			<div class="fundocolunaexp">
				<p>
					<img src="/public/img/caverna.jpg">
				</p>
				<p>
					Excursão pela Caverna do Diabo
				</p>
				<p>
					Eldorad - SP
				</p>
			</div>
		</div>
		<div class="col-md-3 colunaexp">
			<div class="fundocolunaexp">
				<p>
					<img src="/public/img/trilhacantareira.jpg">
				</p>
				<p>
					Trilha pela Serra da Cantareira
				</p>
				<p>
					Serra da Cantareira - SP
				</p>
			</div>
		</div>
		<div class="col-md-3 colunaexp">
			<div class="fundocolunaexp">
				<p>
					<img src="/public/img/paraglider.jpg">
				</p>
				<p>
					Voo de Paraglider
				</p>
				<p>
					Atibaia - SP
				</p>
			</div>
		</div>
		<div class="col-md-3 colunaexp">
			<div class="fundocolunaexp">
				<p>
					<img src="/public/img/asadelta.jpg">
				</p>
				<p>
					Voo de Asa Delta
				</p>
				<p>
					Atibaia - SP
				</p>
			</div>
		</div>
		<div class="col-md-3 colunaexp">
			<div class="fundocolunaexp">
				<p>
					<img src="/public/img/citytuor.webp">
				</p>
				<p>
					City Tuor por SP
				</p>
				<p>
					Companhia X
				</p>
			</div>
		</div>
		<div class="col-md-3 colunaexp">
			<div class="fundocolunaexp">
				<p>
					<img src="/public/img/kitesurf.jpg">
				</p>
				<p>
					Kitesurf
				</p>
				<p>
					Ilha Bela - SP
				</p>
			</div>
		</div>
	</div>