
<h1 class="titulo1 Espaco">
    Contribua com um mundo mais inclusivo! <br>
    Faça parte do Mundo Colarinho agora mesmo!
</h1>

    <div class="fotoparte">
    </div>

<div class="fundo1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6  flex-column justify-content-center">
                <img class="limfoto" src="/public/img/fcp.jpg" alt="Foto-Parceiros">
            </div>
            <div class="col-md-6  flex-column justify-content-center" style="margin-top:60px;">
                <h2 class="ttpq">
                    Seja um Restaurante <span class="parceiro">Parceiro</span>!
                </h2>
                <p class="sobre">
                    Entre em contato com um de nossos membros fundadores no projeto ou envie um e-mail para <span style="color: blue;text-decoration:underline;">mundocolarinho@mc.com.br</span>
                    e faça parte de uma São Paulo mais inclusiva!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="fundo2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <h2 class="ttpq1">
                    Torne São Paulo mais inclusiva, <span style="color: blue;text-shadow:1px 0.8px rgba(0, 0, 0, 0.204)"><br>financie nosso projeto</span>!
                </h2>
                <p class="sobre">
                    Toda ajuda é bem-vinda! Precisamos do máximo de ajuda possível para continuarmos focados em desenvolvermos um website com o intuito de
                    ajudar a comunidade PCD! Um local seguro e sem julgamentos para que possam ter conhecimento prévio das questões de acessibilidade do local!
                </p>
            </div>
            <div class="col-md-5 flex-column justify-content-center">
                <img class="limfoto" src="/public/img/mensagens.png" alt="Foto-Parceiros">
            </div>
        </div>
    </div>
</div>

<div class="fundo3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2 class="ttpq2">
                    Restam dúvidas? <br> <span style="font-weight: bold;">Entre em contato</span>!
                </h2>
                <p class="sobre">
                    Caso ainda haja dúvidas, entre em contato com alguém da nossa equipe, ou envie um e-mail para <span style="color: blue;text-decoration:underline;">mundocolarinho@mc.com.br</span>.
                    Agradecemos seu empenho e contato. <span style="font-weight: bold;">Juntos somos mais fortes!</span>
                </p>
            </div>
            <div class="col-md-2 flex-column justify-content-center">
                <img class="fotop" src="/public/img/MarcioA.jpg" alt="Foto-Parceiros">
            </div>
            <div class="col-md-4" style="margin-top:30px;justify-content:center;">
                <h3>
                    Márcio Alexandroni da Silva Filho
                </h3>
                <p>
                    <span style="font-style:italic;">Socio Senior do Projeto</span><br>
                    <span style="font-weight: bold;">Contato pessoal:</span><br>marciofilho2004@bol.com.br
                </p>
            </div>
        </div>
    </div>
</div>





<%- contentFor("espaco-head") %>

<style>
    body {
        font-family: Poppins;
        margin: 0;
        padding: 0;
        max-width: 2000px;
    }

    img {
        max-width: 100%
    }

    .titulo1 {
        color: black;
        text-shadow: 1px 0.5px rgba(0, 0, 0, 0.54);
        text-align: center;
    }

    .fotoparte {
        background-image: url(/public/img/fundofp.jpg);
        max-width: 2000px;
        height: auto;
        background-position: center;
        background-position: cover;
        padding: 150px 200px;
        margin: 0;
		border-bottom:solid;
        border-color: rgba(0, 0, 0, 0.142);
    }

    .Espaco {
        padding: 60px;
        background-color: rgb(244, 236, 219);
        margin: 0;
    }

    .parceiro {
        color: blue;
        text-shadow: 1px 0.8px rgba(0, 0, 0, 0.214);
        text-decoration: wavy;
    }

    .limfoto {
        width: 510px;
        height: auto;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

    }

    .fundo1 {
		margin: 0;
		padding: 100px 80px;
		background-color: whitesmoke;
		color: black;
	}

    .fundo2 {
		margin: 0;
		padding: 100px 80px;
		background-color: rgb(240, 233, 219);
		color: black;
        margin: 0;
	}

    .fundo3 {
		margin: 0;
		padding: 100px 80px;
		background-color: whitesmoke(240, 233, 219);
		color: black;
        margin: 0;
	}

    .ttpq {
        margin: 10px auto 20px 10px;
    }

    .ttpq1 {
        margin: 10px auto 20px 10px;
        text-align: right;
    }

    .ttpq2 {
        margin: 10px auto 20px 10px;
        text-align: center;
        font-size: 40px;
    }

    .sobre {
		font-size: 20px;
		padding: 10px;
		margin: 10px 10px;
		text-indent: 35px;
		text-align: justify;
	}

    .fotop {
		max-width: 200px;
		max-height: 150px;
		height: auto;
		border-radius: 999px;
		box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.578);
		margin: 30px auto 30px 20px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(97, 97, 97);
	}


</style>