<div class="container-fluid">

	<div class="row">
		<div class="col-sm-6 col-lg-2 offset-sm-6 offset-lg-8">
			<div class="card shadow my-3">
				<div class="card-body">
					Insira a Região
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-lg-2 offset-sm-6 offset-lg-8">
			<div class="card shadow my-1">
				<div class="card-body">
					Perto de mim (ativar)
				</div>
			</div>
		</div>
	</div>
	
	<h1>
		Projeto
	</h1>

	<p>
		Oi, mundo! 😊
	</p>

</div>
