<div class="container-fluid">

	<div class="row">
		<div class="col-sm-6 col-lg-4 offset-sm-5 offset-lg-0">
			<div class="card shadow my-6">
				<div class="card-body">
					Insira a Região
				</div>
			</div>
		</div>
	</div>

	<hr/>

	<div class="text-center">
		<a class="link-local" href="...">
			<img src="/public/img/favoritos.png" width="32" />
			<br />
			Favoritos
		</a>
		
		<a class="link-local" href="...">
			<img src="/public/img/hospedagem.png" width="31" />
			<br />
			Hospedagem
		</a>

		<a class="link-local" href="...">
			<img src="/public/img/caneca-de-cerveja.png" width="31" />
			<br />
			Bares
		</a>

		<a class = "link-local" href = "...">
			<img src = "/public/img/restaurante.png" width ="31"/>
			<br />
			Restaurantes
		</a>

		<a class = "link-local" hred = "...">
			<img src = "/public/img/parque.png" width = "31"/>
			<br />
			Lazer
		</a>

		<a class = "link-local" hred = "...">
			<img src = "/public/img/loja.png" width = "31"/>
			<br />
			Lojas
		</a>

		<a class = "link-local" hred = "...">
			<img src = "/public/img/correr-atras.png" width = "31"/>
			<br />
			Infantil
		</a>

		<a class="link-local" href="...">
			<img src="/public/img/turismo.png" width="31" />
			<br />
			Turismo
		</a>

		<a class="link-local" href="...">
			<img src="/public/img/girassol.png" width="31" />
			<br />
			Parceiros PCD
		</a>

		<a class="link-local" href="...">
			<br />
			Filtro
		</a>
	</div>

	<div class="container-fluid fundodolocal">
		<div class="row">
			<div class="col-md-3 locais">
				<div class="fundolocais">
					<p>
						Local 1
					</p>
					<p>
						******
					</p>
				</div>
			</div>
			<div class="col-md-3 locais">
				<div class="fundolocais">
					<p>
						Local 2
					</p>
					<p>
						******
					</p>
				</div>
			</div>
			<div class="col-md-3 locais">
				<div class="fundolocais">
					<p>
						Local 3
					</p>
					<p>
						******
					</p>
				</div>
			</div>
			<div class="col-md-3 locais">
				<div class="fundolocais">
					<p>
						Local 4
					</p>
					<p>
						******
					</p>
				</div>
			</div>
			<div class="col-md-3 locais">
				<div class="fundolocais">
					<p>
						Local 5
					</p>
					<p>
						******
					</p>
				</div>
			</div>
			<div class="col-md-3 locais">
				<div class="fundolocais">
					<p>
						Local 6
					</p>
					<p>
						******
					</p>
				</div>
			</div>
			<div class="col-md-3 locais">
				<div class="fundolocais">
					<p>
						Local 7
					</p>
					<p>
						******
					</p>
				</div>
			</div>
			<div class="col-md-3 locais" >
				<div class="fundolocais">
					<p>
						Local 8
					</p>
					<p>
						******
					</p>
				</div>
			</div>
		</div>
	</div>
	

<%- contentFor("espaco-head") %>
<style type="text/css">
	.link-local {
		display: inline-block;
		font-size: 0.75rem;
		vertical-align: bottom;
		padding: 1.5rem;
	}

	.link-local + .link-local {
		margin-left: 15px;
	}
</style>
