
<div class="container-fluid">
    <h1>Novo Local</h1>

    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <label for="nm_local">Nome</label>
                <input type="text" id="nm_local" name="nm_local" class="form-control" />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="end_local">Endereço</label>
                <input type="text" id="end_local" name="end_local" class="form-control" />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="cep_local">cep</label>
                <input type="text" id="cep_local" name="cep_local" class="form-control" />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="num_local">Numero</label>
                <input type="text" id="num_local" name="num_local" class="form-control" />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="cidade_local">Cidade</label>
                <input type="text" id="cidade_local" name="cidade_local" class="form-control" />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="uf_local">Estado</label>
                <input type="text" id="uf_local" name="uf_local" class="form-control" />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="idtipo">Tipo</label>
                <select id="idtipo" name="idtipo" class="form-control">
                    <% for (let i = 0; i < tipos.length; i++) { %>
                    <option value="<%= tipos[i].idtipo %>"><%= tipos[i].nm_tipo %></option>
                    <% } %>
                </select>
            </div>
        </div>

    </div>

    <div class="text-center">
        <button type="button" class="btn btn-primary" onclick="criar()">Criar</button>
    </div>

    <script type="text/javascript">

        function criar() {
            // fetch("/criarLocal")
            fetch("/criarLocal")
        }

    </script>
</div>
